<p id="notice"><%= notice %></p>
<td>Author: </td>
<td><%= @comment.author %></td>
<td>Comment: </td>
<td><%= @comment.text %></td>

<% if can? :update, @post %>
<%= link_to 'Edit', edit_post_comment_path(@comment.post, @comment) %> |
<% end %>
<%= link_to 'Back', post_path(@post) %>
